body {
  font-family: "Kohinoor Telugu";
  background-color: #000;
}

header {
  padding: 20px 20px 50px 10px;
}

footer {
  color: rgba(255, 255, 255, 0.4);
  font-size: 13px;
  margin: 10px 0 30px 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #b82601;
  opacity: 0.8;
}

a:hover {
  text-decoration: none;
  color: #b82601;
  opacity: 1;
}

.element {
  color: white;
  display: block;
  margin: 20px 5%;
  padding: 100px 40px 80px 40px;
  border-top: white solid 0.03px;
}

h2 {
  font-size: 28px;
  font-weight: normal;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

.introduction {
  border-top: none;
  font-size: 18px;
  text-align: center;
}

.location-img {
  width: 30%;
  height: 30%;
}

.my-btn {
  background: none;
  border: #b82601 solid 1px;
  color: #b82601;
  padding: 5px 10px;
  text-decoration-line: none;
}

.my-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #b82601;
  text-decoration-line: none;
}

.my_nav {
  float: right;
  margin: 0 0 30px 0;
  break-after: always;
}

.nav_link {
  float: left;
  margin: 20px;
  color: #b82601;
  font-size: 14px;
  padding: 5px 12px;
}

.nav_link a {
  color: rgba(255, 255, 255, 0.8);
}

.nav_link a:hover {
  color: #b82601;
}

.social-icon {
  height: 25px;
  opacity: 0.5;
  margin: 0 20px 0 0;
  width: 25px;
}

.social-icon:hover {
  opacity: 0.8;
}

.textPanel .body {
  padding: 10px 20px;
}

/*create collapsed navbar*/
.nav_btn {
  background: none;
  border: none;
  color: #b82601;
  font-size: 14px;
  padding: 5px 10px;
}

.collapsed_nav {
  float: left;
}

.collapsed_list {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.collapsed_link {
  float: none;
  padding: 12px 16px;
  display: block;
}

.collapsed_list:hover {
  background-color: #000;
}

.collapsed_nav:hover .collapsed_list {
  display: block;
}

.collapsed_nav:hover .nav_btn .nav_shape {
  background: #b82601;
}

.nav_shape {
  width: 5px;
  height: 5px;
  background: #062f4f;
  border-radius: 50%;
}

.hide {
  display: none;
}

.lizziespic {
  margin: 0 0 20px 0;
  width: 80%;
  border-radius: 50%;
}

.lizziespic:hover {
  animation-name: spin;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#link-footer {
  display: inline;
  color: #b82601;
  opacity: 0.7;
}

#link-footer:hover {
  color: #b82601;
  opacity: 1;
}

.photo {
  margin: 40px 0 0 0;
  opacity: 0.7;
  width: 70%;
}

.photo:hover {
  animation: getvisible 500ms;
  animation-iteration-count: 1;
  opacity: 1;
}

@keyframes getvisible {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
